body {
    background-color: rgb(138, 138, 245);
}

#main-nav {
    overflow: hidden;
}
  
#navbar-container {
    float: left;
    width: 100%;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
}

#header { 
    margin-bottom: 30px;
}
  
#main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;
}
  
#main-nav ul li {
    float: left;
    position: relative;
    right: 50%;
    display: block;
}
  
#main-nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
}
  
#main-nav ul li a:hover {
    background-color: rgb(82, 82, 219);
    color: #fff;
}

#onpage a {
    background-color: rgb(82, 82, 219);
    color: #fff !important;
    text-decoration: underline !important;
}

#page-wrapper {
    width: 70%;
    margin: 30px auto 60px auto;
}

#content-wrapper {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 50px 50px 50px;
}

footer {
    font-style: italic;
}

h1 {
    text-align: center;
    font-family: "Prompt", sans-serif;
    font-weight: 600;
}

h2 {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
}

h3 {
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    font-style: italic;
}